@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.container {
  height: 4.5rem;
  padding: 0 2.2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  background-color: var(--color-bg);
  transition: background-color 1s ease, color 1s ease;
}

.search-bar-container{
  margin-left: auto;
  padding: 1rem 0.5rem 1rem 1rem;
  width: 40%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.search-options{
  font-weight: bold;
  display: flex;
  /* gap: 20px; */
  font-size: 1.8rem;
}

.search-bar {
  height: 2.8rem;
  width: 100%;
  /* position: relative; */
  display: flex;
  align-items: center;
  background-color: var(--color-input-bg);
  border-radius: 10rem;
  padding: 8px 5px;
  /* overflow: hidden; */
  /* transition: all 0.3s ease; */
  /* border: solid 0.1px white; */
}

.search-bar button{
  /* outline: none; */
}

.search-input {
  width: 100%;
  border: none;
  background: none;
  color: var(--color-text);
  /* font-size: 16px; */
  padding: 10px;
  border-radius: 20px;
}

.search-input::placeholder {
  color: var(--color-text);
}

.search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid none; */
  border: none;
  padding: 8px;
  /* background-color: #000000; */
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-icon .svg {
  fill: var(--color-text);
  font-size: 1.1rem;
}

/* .search-icon:hover {
  background-color: #555;
} */

/* .search-bar:hover {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
} */

.search-input:focus {
  outline: none;
}

.options-container{
  /* margin-top: 5rem; */
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 2rem;

  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

.search-suggestions{
    display: flex;
    gap: 1.2rem;
    font-size: 1.2rem;
}

.drop-down-container{
  border-radius: 10px;
  border: 1px solid white;
}

.drop-down-container select{
  padding: 10px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 1rem;
    
}

.drop-down-container select option{
  color: white;
  border: none;
  border-radius: 10px;
    
}

/* Dark mode button */

.switch {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.switch input {
  display: none;
}

.dark-mode-button {
  /* background-color: #7b7979; */
  border-radius: 20px;
  padding: 8px;
  transition: background-color 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-moon, .icon-sun{
  font-size: 24px;
  color: var(--color-text);
}
