.gallery-container{
  height: 100%;
  width: 100%;
}

.gallery-images{
  width: 100%;
  columns: 300px;
  gap: 10px;
}

.image-wrapper {
  /* background-color: blue; */
  position: relative;
  overflow: hidden;
  /* border-radius: 8px; */
}

.gallery-image{
  display: block;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 15px;

  transition: opacity 0.3s ease;
  background: linear-gradient(rgba(0, 0, 0, 0.566), rgba(0, 0, 0, 0.588), rgba(0, 0, 0, 0.46));
}

.overlay {
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.429), rgba(0, 0, 0, 0.429), rgba(0, 0, 0, 0.429));
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;


  display: flex;
  justify-content: start;
  align-items: end;
  gap: 5px;
}

.image-wrapper:hover .overlay {
  opacity: 1;
}

.user-details{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  margin: 0 0 0.5rem 0.2rem;
}

.user-image{
  border-radius: 20px;
}

.user-name {
  color: white;
  font-weight: bold;
}

.loading{
  color: white;
  font-size: 4rem;
}